<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=, initial-scale=1.0" />
        <title>My App</title>
    </head>
    <body>
        <ul>
            <li>
                <a href="/name">Name Route</a>
            </li>

            <li>
                <a href="/admin">Admin Route</a>
            </li>

            <li>
                <a href="/user/12345">User Id Route</a>
            </li>

            <li>
                <a href="/valueofday/2023-10-01">Value of day Route</a>
            </li>
        </ul>
    </body>
</html>
